<div class="home-container">
    <app-card gameImage="assets/bt-1.jpg" gameLabel="DIGITAL" gameType="DIGITAL | PS4" gamePrice="R$ 99,99"></app-card>

    <app-card gameImage="assets/bt-4.jpg" gameLabel="EXCLUSIVE" gameType="DISC | PS3" gamePrice="R$ 119,99"></app-card>

    <app-card gameImage="assets/ac-cover.jpg" gameLabel="NEW" gameType="DISC | PS4" gamePrice="R$ 129,99"></app-card>

    <app-card gameImage="assets/bt-hardline.jpg" gameLabel="EXCLUSIVE" gameType="DISC | PS4"
        gamePrice="R$ 89,99"></app-card>

    <app-card gameImage="assets/bt-5.jpg" gameLabel="EXCLUSIVE" gameType="DISC | PS4" gamePrice="R$ 189,99"></app-card>

    <app-card gameImage="assets/bt-bad-company-2.jpg" gameLabel="EXCLUSIVE" gameType="DISC | PS4"
        gamePrice="R$ 69,99"></app-card>


</div>